<% if !current_worker %>
  Please log in.
<% else %>
  <h1><%= "Welcome, #{current_worker.first_name}!" %></h1>

  <p>Log your hours:</p>

  <% if current_worker.unclosed_shift %>
    <p>There is an unclosed shift.  Please clock out.</p>
    <%= button_to "End Shift", end_work_time_path(worker_id: current_worker.id, work_time_id: current_worker.work_times.last.id) %>
  <% else %>
    <%= button_to "Start Shift", create_work_time_path(id: current_worker.id) %>
  <% end %>

  <h2>Your skills:</h2>

  <% current_worker.worker_skills.each do |worker_skill| %>
    <%= worker_skill.skill.name %>
    <% worker_skill.proficiency.times do %>
    *
    <% end %>
    <br>
  <% end %>

  <h2>Your recent time card activity:</h2>
  <table class = "timecard">
    <tr>
      <th>Date</th>
      <th>Start</th>
      <th>End</th>
      <th></th>
    </tr>
    <% current_worker.work_times.reverse.each do |work_time| %>
      <tr id="<%= work_time.id %>">
        <td class = "work-date">
          <%= work_time.work_start.to_date %>
        </td>
        <td class = "work-start">
          <%= work_time.work_start.strftime("%I:%M %p") %>
        </td>
        <td class = "work-end">
          <%if work_time.work_end%>
            <%= work_time.work_start.strftime("%I:%M %p") %>
          <%end%>
        </td>
        <td>
          <button class="edit_button">edit</button>
        </td>
      </tr>
    <% end %>
  </table>




<% end %>
