<!DOCTYPE html>
<html>
  <head>
    <title>Vtracklery20</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'worktimes', 'data-turbolinks-track': 'reload' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class = "navbar-header">
          <%=link_to("VTracklery", root_path, {class: "navbar-brand"})%>

          <ul class="nav navbar-nav">
            <%if current_worker%>
              <li>
                <%=link_to("Profile", worker_show_path(id: current_worker.id))%>
              </li>
              <li>
                <%=link_to("Log Out", destroy_worker_session_path, {method: "delete"})%>
              </li>

            <% else %>
              <li>
                <%=link_to("Sign In", new_worker_session_path)%>
              </li>
            <%end%>

            <%if current_worker && current_worker.user_role.role === "Admin"%>
              <li>
                <%=link_to("Events", events_path)%>
              </li>
              <li>
                <%=link_to("Workers", workers_path)%>
              </li>
            <%end%>
          </ul>

        </div>
      </div>
    </nav>
    <div class = "page-content">
      <%= yield %>
    </div>
    <br>
    <footer>
      <p>Created in 2017 by Ben Van Sickle, Rob Dale, and Melanie Mazanec</p>
    </footer>
  </body>
</html>
